---
interface Props {
  question: string;
  answer: string;
}

const { question, answer } = Astro.props;
---

<div class="mb-6 last:mb-0">
  <h3 class="text-xl font-semibold mb-2 text-db-pink">{question}</h3>
  <p class="text-gray-700">{answer}</p>
</div>

