---
interface Props {
  title: string;
  subtitle?: string;
  centered?: boolean;
}

const { title, subtitle, centered = false } = Astro.props;
---

<div class={`mb-12 ${centered ? "text-center" : ""}`}>
  <h2 class="text-3xl md:text-4xl font-bold mb-4 text-db-pink">{title}</h2>
  {subtitle && <p class="text-lg max-w-2xl">{subtitle}</p>}
</div>

